<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/links.css">
    
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    header {
        font-family: "Poppins", system-ui;
    }
</style>

<body class="h-screen">
    <div class="grid h-full grid-rows-[auto_1fr]">

        <header class="w-full h-12 lg:h-18 flex items-center border-b pl-3">
            <h1 class="text-lg md:text-2xl lg:text-3xl w-full font-semibold">BazaarBuzz</h1>
        </header>

        <div class="container mx-auto max-w-xl flex justify-center items-center">
            <form action="/admin/ChangePassword" method="POST"
                class="p-0 md:p-8 rounded-2xl md:bg-[#F3F2F7] drop-shadow-md ">

                <div class="mx-2 mb-4 w-64 flex justify-center">
                    <h3 class="font-medium text-2xl text-[#313B5E]">Change Password</h3>
                </div>

                <% if( message.error ) { %>
                    <div class="ms-6 text-red-600 mb-4">
                        <%= message.error %>
                    </div>
                    <% } %>

                        <div class="mb-3 flex justify-center">
                            <input type="email" placeholder="Email."
                                class="border-2 border-slate-300 rounded-md ps-2 py-1.5 w-5/6 placeholder:text-sm placeholder:ps-1. focus:outline-blue-500"
                                name="email">
                        </div>

                        <div class="mb-3 flex justify-center">
                            <input type="password" placeholder="Old password."
                                class="border-2 border-slate-300 rounded-md ps-2 py-1.5 w-5/6 placeholder:text-sm placeholder:ps-1. focus:outline-blue-500"
                                name="oldPassword">
                        </div>

                        <div class="mb-3 flex justify-center">
                            <input type="password" placeholder="New password."
                                class="border-2 border-slate-300 rounded-md ps-2 py-1.5 w-5/6 placeholder:text-sm placeholder:ps-1. focus:outline-blue-500"
                                name="newPassword">
                        </div>

                        <div class="mb-2 m:mb-3 flex justify-center">
                            <input type="password" placeholder="Confirm password"
                                class="border-2 border-slate-300 rounded-md ps-2 py-1.5 w-5/6 placeholder:text-sm placeholder:ps-1.5 focus:outline-blue-500"
                                name="confirmPassword">
                        </div>

                        <div class="my-6 flex justify-center w-full ">
                            <button class="bg-red-500 h-10 rounded-md w-5/6" onclick="passwordReset()">Reset</button>
                        </div>
        </div>
            </form>
        </div>
    </div>
</body>

</html>