<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<style>
    .menu {
        height: 40px;
        display: flex;
        align-items: center;
    }

    .align {
        display: flex;
        justify-content: center;
    }
</style>

<body class="bg-[#F3F2F7]">

    <div class="w-full md:w-1/4 lg:w-2/12 h-screen md:border-2 rounded-md drop-shadow-md bg-white">
        <div class="h-full flex flex-col items-center">
            <div class="flex flex-col justify-center h-24 items-center">
                <h1 class="text-3xl md:text-xl lg:text-2xl font-bold">BazaarBuzz</h1>
                <h3 class="mt-1 text-slate-500 text-xs md:text-[9px] lg:text-xs">Modern Admin Dashboard</h3>
            </div>

            <div class="border-2 flex-1 w-full">

                <div class="align">
                    <button class="menu">
                        <svg width="16" height="18" viewBox="0 0 16 18" fill="none" class="mr-4"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.5 6.81734V16.8173C0.5 17.0384 0.587797 17.2503 0.744078 17.4066C0.900358 17.5629 1.11232 17.6507 1.33333 17.6507H5.5C5.72101 17.6507 5.93297 17.5629 6.08925 17.4066C6.24554 17.2503 6.33333 17.0384 6.33333 16.8173V10.984H9.66667V16.8173C9.66667 17.0384 9.75446 17.2503 9.91074 17.4066C10.067 17.5629 10.279 17.6507 10.5 17.6507H14.6667C14.8877 17.6507 15.0996 17.5629 15.2559 17.4066C15.4122 17.2503 15.5 17.0384 15.5 16.8173V6.81734C15.5 6.68797 15.4699 6.56038 15.412 6.44467C15.3542 6.32895 15.2702 6.2283 15.1667 6.15068L8.5 1.15068C8.35575 1.04249 8.18031 0.984009 8 0.984009C7.81969 0.984009 7.64425 1.04249 7.5 1.15068L0.833333 6.15068C0.729837 6.2283 0.645834 6.32895 0.587977 6.44467C0.530121 6.56038 0.5 6.68797 0.5 6.81734V6.81734ZM2.16667 7.23401L8 2.85901L13.8333 7.23401V15.984H11.3333V10.1507C11.3333 9.92966 11.2455 9.7177 11.0893 9.56142C10.933 9.40514 10.721 9.31734 10.5 9.31734H5.5C5.27899 9.31734 5.06702 9.40514 4.91074 9.56142C4.75446 9.7177 4.66667 9.92966 4.66667 10.1507V15.984H2.16667V7.23401Z"
                                fill="#464255" />
                        </svg>
                        <span>Dashboard</span>
                    </button>
                </div>

                <div class="align">
                    <button class="menu">
                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" class="mr-4"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.5002 2.31754H1.5002C1.02798 2.31754 0.66687 1.95643 0.66687 1.48421C0.66687 1.01199 1.02798 0.650879 1.5002 0.650879H16.5002C16.9724 0.650879 17.3335 1.01199 17.3335 1.48421C17.3335 1.95643 16.9724 2.31754 16.5002 2.31754Z"
                                fill="#464255" />
                            <path
                                d="M11.5002 6.762H1.5002C1.02798 6.762 0.66687 6.40089 0.66687 5.92867C0.66687 5.45645 1.02798 5.09534 1.5002 5.09534H11.5002C11.9724 5.09534 12.3335 5.45645 12.3335 5.92867C12.3335 6.40089 11.9724 6.762 11.5002 6.762Z"
                                fill="#464255" />
                            <path
                                d="M16.5002 11.2063H1.5002C1.02798 11.2063 0.66687 10.8452 0.66687 10.373C0.66687 9.90078 1.02798 9.53967 1.5002 9.53967H16.5002C16.9724 9.53967 17.3335 9.90078 17.3335 10.373C17.3335 10.8452 16.9724 11.2063 16.5002 11.2063Z"
                                fill="#464255" />
                            <path
                                d="M11.5002 15.6508H1.5002C1.02798 15.6508 0.66687 15.2897 0.66687 14.8175C0.66687 14.3452 1.02798 13.9841 1.5002 13.9841H11.5002C11.9724 13.9841 12.3335 14.3452 12.3335 14.8175C12.3335 15.2897 11.9724 15.6508 11.5002 15.6508Z"
                                fill="#464255" />
                        </svg>
                        <span>Product List</span>
                    </button>
                </div>

                <div class="align">
                    <button class="menu">
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" class="mr-4"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M17.5 15.9842H4.16667V2.65084C4.16667 2.42982 4.07887 2.21786 3.92259 2.06158C3.76631 1.9053 3.55435 1.8175 3.33333 1.8175C3.11232 1.8175 2.90036 1.9053 2.74408 2.06158C2.5878 2.21786 2.5 2.42982 2.5 2.65084V16.8175C2.5 17.0385 2.5878 17.2505 2.74408 17.4068C2.90036 17.563 3.11232 17.6508 3.33333 17.6508H17.5C17.721 17.6508 17.933 17.563 18.0893 17.4068C18.2455 17.2505 18.3333 17.0385 18.3333 16.8175C18.3333 16.5965 18.2455 16.3845 18.0893 16.2282C17.933 16.072 17.721 15.9842 17.5 15.9842Z"
                                fill="#464255" />
                            <path
                                d="M5.83337 9.31759V13.4843C5.83337 13.7053 5.92117 13.9172 6.07745 14.0735C6.23373 14.2298 6.44569 14.3176 6.66671 14.3176C6.88772 14.3176 7.09968 14.2298 7.25596 14.0735C7.41224 13.9172 7.50004 13.7053 7.50004 13.4843V9.31759C7.50004 9.09657 7.41224 8.88461 7.25596 8.72833C7.09968 8.57205 6.88772 8.48425 6.66671 8.48425C6.44569 8.48425 6.23373 8.57205 6.07745 8.72833C5.92117 8.88461 5.83337 9.09657 5.83337 9.31759Z"
                                fill="#464255" />
                            <path
                                d="M9.16663 5.15084V13.4842C9.16663 13.7052 9.25442 13.9171 9.4107 14.0734C9.56698 14.2297 9.77895 14.3175 9.99996 14.3175C10.221 14.3175 10.4329 14.2297 10.5892 14.0734C10.7455 13.9171 10.8333 13.7052 10.8333 13.4842V5.15084C10.8333 4.92982 10.7455 4.71786 10.5892 4.56158C10.4329 4.4053 10.221 4.3175 9.99996 4.3175C9.77895 4.3175 9.56698 4.4053 9.4107 4.56158C9.25442 4.71786 9.16663 4.92982 9.16663 5.15084Z"
                                fill="#464255" />
                            <path
                                d="M12.5 6.81759V13.4842C12.5 13.7053 12.5878 13.9172 12.7441 14.0735C12.9004 14.2298 13.1123 14.3176 13.3333 14.3176C13.5543 14.3176 13.7663 14.2298 13.9226 14.0735C14.0789 13.9172 14.1667 13.7053 14.1667 13.4842V6.81759C14.1667 6.59657 14.0789 6.38461 13.9226 6.22833C13.7663 6.07205 13.5543 5.98425 13.3333 5.98425C13.1123 5.98425 12.9004 6.07205 12.7441 6.22833C12.5878 6.38461 12.5 6.59657 12.5 6.81759Z"
                                fill="#464255" />
                            <path
                                d="M15.8334 2.65084V13.4842C15.8334 13.7052 15.9212 13.9171 16.0775 14.0734C16.2337 14.2297 16.4457 14.3175 16.6667 14.3175C16.8877 14.3175 17.0997 14.2297 17.256 14.0734C17.4122 13.9171 17.5 13.7052 17.5 13.4842V2.65084C17.5 2.42982 17.4122 2.21786 17.256 2.06158C17.0997 1.9053 16.8877 1.8175 16.6667 1.8175C16.4457 1.8175 16.2337 1.9053 16.0775 2.06158C15.9212 2.21786 15.8334 2.42982 15.8334 2.65084V2.65084Z"
                                fill="#464255" />
                        </svg>
                        <span>Orders List</span>
                    </button>
                </div>

                <div class="align">
                    <button class="menu">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="mr-4"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.9916 13.0758C15.4243 12.5593 15.6631 11.9079 15.6666 11.2342C15.6666 10.4606 15.3593 9.71874 14.8124 9.17176C14.2654 8.62478 13.5235 8.31749 12.75 8.31749H12.5166C13.2039 7.50081 13.5815 6.46818 13.5833 5.40082C13.5852 4.63128 13.3934 3.87363 13.0254 3.19775C12.6575 2.52188 12.1253 1.94952 11.4779 1.53348C10.8305 1.11744 10.0888 0.871096 9.32113 0.817175C8.55347 0.763253 7.7846 0.903487 7.08541 1.22494C6.38622 1.5464 5.77922 2.03873 5.3204 2.65654C4.86158 3.27434 4.56569 3.99773 4.46004 4.75999C4.35439 5.52224 4.44237 6.29884 4.71586 7.01814C4.98935 7.73745 5.43956 8.37631 6.02496 8.87582C4.45018 9.47767 3.09498 10.543 2.13831 11.9312C1.18164 13.3193 0.668488 14.9649 0.666626 16.6508C0.666626 16.8718 0.754423 17.0838 0.910704 17.2401C1.06698 17.3964 1.27895 17.4842 1.49996 17.4842C1.72097 17.4842 1.93293 17.3964 2.08922 17.2401C2.2455 17.0838 2.33329 16.8718 2.33329 16.6508C2.33329 14.8827 3.03567 13.187 4.28591 11.9368C5.53616 10.6865 7.23185 9.98415 8.99996 9.98415H10.125C9.88086 10.4808 9.7871 11.038 9.8552 11.5872C9.9233 12.1364 10.1503 12.6538 10.5083 13.0758C9.79836 13.4729 9.20713 14.0521 8.79553 14.7537C8.38393 15.4554 8.16684 16.254 8.16663 17.0675C8.16663 17.2885 8.25442 17.5005 8.4107 17.6567C8.56698 17.813 8.77895 17.9008 8.99996 17.9008C9.22097 17.9008 9.43293 17.813 9.58922 17.6567C9.7455 17.5005 9.83329 17.2885 9.83329 17.0675C9.83329 16.2939 10.1406 15.5521 10.6876 15.0051C11.2345 14.4581 11.9764 14.1508 12.75 14.1508C13.5235 14.1508 14.2654 14.4581 14.8124 15.0051C15.3593 15.5521 15.6666 16.2939 15.6666 17.0675C15.6666 17.2885 15.7544 17.5005 15.9107 17.6567C16.067 17.813 16.2789 17.9008 16.5 17.9008C16.721 17.9008 16.9329 17.813 17.0892 17.6567C17.2455 17.5005 17.3333 17.2885 17.3333 17.0675C17.3331 16.254 17.116 15.4554 16.7044 14.7537C16.2928 14.0521 15.7016 13.4729 14.9916 13.0758V13.0758ZM8.99996 8.31749C8.4231 8.31749 7.85919 8.14643 7.37955 7.82594C6.8999 7.50545 6.52607 7.04993 6.30531 6.51698C6.08456 5.98403 6.0268 5.39759 6.13934 4.83181C6.25188 4.26603 6.52966 3.74633 6.93756 3.33843C7.34547 2.93052 7.86517 2.65274 8.43095 2.5402C8.99672 2.42766 9.58317 2.48542 10.1161 2.70617C10.6491 2.92693 11.1046 3.30076 11.4251 3.78041C11.7456 4.26005 11.9166 4.82396 11.9166 5.40082C11.9166 6.17437 11.6093 6.91623 11.0624 7.46322C10.5154 8.0102 9.77351 8.31749 8.99996 8.31749V8.31749ZM12.75 12.4842C12.4184 12.4842 12.1005 12.3525 11.8661 12.118C11.6317 11.8836 11.5 11.5657 11.5 11.2342C11.5021 10.9033 11.6345 10.5866 11.8685 10.3527C12.1024 10.1187 12.4191 9.98634 12.75 9.98415C13.0815 9.98415 13.3994 10.1158 13.6338 10.3503C13.8683 10.5847 14 10.9026 14 11.2342C14 11.5657 13.8683 11.8836 13.6338 12.118C13.3994 12.3525 13.0815 12.4842 12.75 12.4842Z"
                                fill="#464255" />
                        </svg>
                        <span>Customers</span>
                    </button>
                </div>

                <div class="align">
                    <button class="menu">
                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" class="mr-4"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.54171 1.0175C7.39076 0.888417 7.19866 0.81749 7.00004 0.817505H1.16671C0.945694 0.817505 0.733732 0.905302 0.577452 1.06158C0.421172 1.21786 0.333374 1.42982 0.333374 1.65084V16.6508C0.333374 16.8719 0.421172 17.0838 0.577452 17.2401C0.733732 17.3964 0.945694 17.4842 1.16671 17.4842H12.8334C13.0544 17.4842 13.2664 17.3964 13.4226 17.2401C13.5789 17.0838 13.6667 16.8719 13.6667 16.6508V6.65084C13.6667 6.53047 13.6406 6.41153 13.5903 6.3022C13.5399 6.19287 13.4665 6.09574 13.375 6.0175L7.54171 1.0175ZM7.83337 3.45917L10.5834 5.81751H7.83337V3.45917ZM12 15.8175H2.00004V2.48417H6.16671V6.65084C6.16671 6.87185 6.25451 7.08381 6.41079 7.24009C6.56707 7.39637 6.77903 7.48417 7.00004 7.48417H12V15.8175Z"
                                fill="#464255" />
                        </svg>
                        <span>Category</span>
                    </button>
                </div>

                <div class="align">
                    <button class="menu">
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" class="mr-4"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.83339 10.151V13.4844C5.83339 13.7054 5.92119 13.9173 6.07747 14.0736C6.23375 14.2299 6.44571 14.3177 6.66672 14.3177H10.0001C10.1097 14.3183 10.2184 14.2973 10.32 14.2558C10.4215 14.2144 10.5139 14.1533 10.5917 14.076L16.6667 8.00937C17.199 7.4698 17.4975 6.74233 17.4975 5.98437C17.4975 5.22641 17.199 4.49893 16.6667 3.95937L16.1917 3.48437C15.6442 2.9675 14.9197 2.67957 14.1667 2.67957C13.4137 2.67957 12.6893 2.9675 12.1417 3.48437L6.07505 9.55937C5.99782 9.63723 5.93672 9.72958 5.89525 9.83111C5.85377 9.93264 5.83275 10.0414 5.83339 10.151ZM7.50005 10.4927L13.3334 4.65937C13.559 4.44726 13.857 4.32917 14.1667 4.32917C14.4764 4.32917 14.7744 4.44726 15.0001 4.65937L15.4667 5.12603C15.6866 5.34767 15.8099 5.64719 15.8099 5.95937C15.8099 6.27154 15.6866 6.57107 15.4667 6.7927L9.63339 12.626H7.50005V10.4927Z"
                                fill="#464255" />
                            <path
                                d="M16.6667 10.1509C16.4457 10.1509 16.2337 10.2387 16.0774 10.395C15.9211 10.5512 15.8333 10.7632 15.8333 10.9842V15.1509C15.8333 15.3719 15.7455 15.5839 15.5893 15.7401C15.433 15.8964 15.221 15.9842 15 15.9842H5C4.77899 15.9842 4.56702 15.8964 4.41074 15.7401C4.25446 15.5839 4.16667 15.3719 4.16667 15.1509V5.15088C4.16667 4.92986 4.25446 4.7179 4.41074 4.56162C4.56702 4.40534 4.77899 4.31755 5 4.31755H9.16667C9.38768 4.31755 9.59964 4.22975 9.75592 4.07347C9.9122 3.91719 10 3.70523 10 3.48421C10 3.2632 9.9122 3.05124 9.75592 2.89496C9.59964 2.73868 9.38768 2.65088 9.16667 2.65088H5C4.33696 2.65088 3.70107 2.91427 3.23223 3.38311C2.76339 3.85195 2.5 4.48784 2.5 5.15088V15.1509C2.5 15.8139 2.76339 16.4498 3.23223 16.9186C3.70107 17.3875 4.33696 17.6509 5 17.6509H15C15.663 17.6509 16.2989 17.3875 16.7678 16.9186C17.2366 16.4498 17.5 15.8139 17.5 15.1509V10.9842C17.5 10.7632 17.4122 10.5512 17.2559 10.395C17.0996 10.2387 16.8877 10.1509 16.6667 10.1509Z"
                                fill="#464255" />
                        </svg>
                        <span>Banner</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script>
        // const sideMenu = document.querySelector("#sideMenu")
        // const childMenu = document.querySelectorAll("#sideMenu")

        // childMenu.forEach( menu => {
        //     menu.style.color = "blue";
        // } )


    </script>

</body>


</html>