
<header class="fixed bg-white w-full z-50 font-[poppins] flex flex-col gap-3 px-2">
    <section class="flex md:min-h-[75px] flex-wrap items-center px-4 pt-3 500">

        <div class="w-full flex justify-between">
            <div class="flex justify-between gap-2">
                <a href="/" class="text-2xl lg:text-3xl block">
                    <strong>BuzaarBuzz</strong></a>
            </div>

            <!-- Side Menu -->

            <div class="lg:ml-auto flex items-center space-x-8">
                <ul class="space-x-2 lg:space-x-4 flex">
                    <li
                        class="group relative px-1 lg:after:absolute lg:after:-bottom-2 lg:after:left-0 lg:after:block lg:after:w-0 lg:after:bg-pink-500 lg:after:transition-all after:duration-300 lg:hover:after:h-[3px] lg:hover:after:w-full">
                        <%if(user){%>
                            <div id="profile" class="flex cursor-pointer flex-col items-center justify-center ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                    viewBox="0 0 512 512">
                                    <path
                                        d="M337.711 241.3a16 16 0 0 0-11.461 3.988c-18.739 16.561-43.688 25.682-70.25 25.682s-51.511-9.121-70.25-25.683a16.007 16.007 0 0 0-11.461-3.988c-78.926 4.274-140.752 63.672-140.752 135.224v107.152C33.537 499.293 46.9 512 63.332 512h385.336c16.429 0 29.8-12.707 29.8-28.325V376.523c-.005-71.552-61.831-130.95-140.757-135.223zM446.463 480H65.537V376.523c0-52.739 45.359-96.888 104.351-102.8C193.75 292.63 224.055 302.97 256 302.97s62.25-10.34 86.112-29.245c58.992 5.91 104.351 50.059 104.351 102.8zM256 234.375a117.188 117.188 0 1 0-117.188-117.187A117.32 117.32 0 0 0 256 234.375zM256 32a85.188 85.188 0 1 1-85.188 85.188A85.284 85.284 0 0 1 256 32z" />
                                </svg>
                                <span class="hidden lg:block mt-1 text-xs font-semibold">Profile</span>
                            </div>
                            <%} else {%>
                                <div id="profile" class="flex cursor-pointer flex-col items-center justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                        viewBox="0 0 512 512">
                                        <path
                                            d="M337.711 241.3a16 16 0 0 0-11.461 3.988c-18.739 16.561-43.688 25.682-70.25 25.682s-51.511-9.121-70.25-25.683a16.007 16.007 0 0 0-11.461-3.988c-78.926 4.274-140.752 63.672-140.752 135.224v107.152C33.537 499.293 46.9 512 63.332 512h385.336c16.429 0 29.8-12.707 29.8-28.325V376.523c-.005-71.552-61.831-130.95-140.757-135.223zM446.463 480H65.537V376.523c0-52.739 45.359-96.888 104.351-102.8C193.75 292.63 224.055 302.97 256 302.97s62.25-10.34 86.112-29.245c58.992 5.91 104.351 50.059 104.351 102.8zM256 234.375a117.188 117.188 0 1 0-117.188-117.187A117.32 117.32 0 0 0 256 234.375zM256 32a85.188 85.188 0 1 1-85.188 85.188A85.284 85.284 0 0 1 256 32z" />
                                    </svg>
                                    <span class="hidden lg:block mt-1 text-xs font-semibold">Sign In</span>
                                </div>
                                <%}%>
                                    <!-- Profile Hover Section -->
                                    <ul
                                        class="absolute left-[-132px] top-9 md:right-0 md:top-14z-20 invisible group-hover:visible transition-all ease-in-out bg-white px-6 py-6 shadow-lg max-sm:min-w-[250px] sm:min-w-[320px]">
                                        <%if(user) {%>
                                            <h1 class="font-semibold text-2xl">Welcome! <br> <span>
                                                    <%= user.userName%>
                                                </span>
                                            </h1>
                                            <a href="/user/signOut"
                                                class="mt-4 border block text-center border-gray-300 bg-transparent px-4 py-2 text-sm font-semibold text-pink-500 hover:border-pink-500">SIGN
                                                OUT</a>
                                            <hr class="my-4 border-b-0" />
                                            <ul class="space-y-1.5">
                                                <li><a href="/user/orders"
                                                        class="text-sm text-gray-500 hover:text-pink-500">Orders</a>
                                                </li>
                                                <li><a href="/user/profile"
                                                        class="text-sm text-gray-500 hover:text-pink-500">My
                                                        Profile</a>
                                                </li>
                                                <li><a href="javascript:void(0)"
                                                        class="text-sm text-gray-500 hover:text-pink-500">Contact
                                                        Us</a>
                                                </li>
                                            </ul>
                                            <hr class="my-4 border-b-0" />
                                            <ul class="space-y-1.5">
                                                <li><a href="/user/coupons"
                                                        class="text-sm text-gray-500 hover:text-pink-500">Coupons</a>
                                                </li>
                                                <li><a href="/user/wallet"
                                                        class="text-sm text-gray-500 hover:text-pink-500">Wallet</a>
                                                </li>
                                                <li><a href="javascript:void(0)"
                                                        class="text-sm text-gray-500 hover:text-pink-500">About
                                                        Us</a>
                                                </li>
                                                <li><a href="/user/address"
                                                        class="text-sm text-gray-500 hover:text-pink-500">Saved
                                                        Addresses</a></li>
                                            </ul>
                                            <%} else {%>
                                                <p class="text-sm font-semibold">To access account and manage orders
                                                </p>
                                                <a href="/user/signIn"
                                                    class="mt-4 block text-center border border-gray-300 bg-transparent px-4 py-2 text-sm font-semibold text-pink-500 hover:border-pink-500">SIGN
                                                    IN</a>
                                                <%}%>

                                    </ul>
                    </li>
                    <li
                        class="relative px-1 lg:after:absolute lg:after:-bottom-2 lg:after:left-0 lg:after:block lg:after:w-0 lg:after:bg-pink-500 lg:after:transition-all lg:after:duration-300 lg:hover:after:h-[3px] lg:hover:after:w-full">
                        <a href="/user/wishlist">
                            <div class="flex cursor-pointer flex-col items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 64 64">
                                    <path
                                        d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z" />
                                </svg>
                                <span class="hidden lg:block mt-1 text-xs font-semibold">My Wishlist</span>
                            </div>
                        </a>
                    </li>
                    <li
                        class="relative px-1 lg:after:absolute lg:after:-bottom-2 lg:after:left-0 lg:after:block lg:after:w-0 lg:after:bg-pink-500 lg:after:transition-all lg:after:duration-300 lg:hover:after:h-[3px] lg:hover:after:w-full">
                        <a href="/user/cart">
                            <div class="flex cursor-pointer flex-col items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                    viewBox="0 0 489 489">
                                    <path
                                        d="m440.1 422.7-28-315.3c-.6-7-6.5-12.3-13.4-12.3h-57.6C340.3 42.5 297.3 0 244.5 0s-95.8 42.5-96.6 95.1H90.3c-7 0-12.8 5.3-13.4 12.3l-28 315.3c0 .4-.1.8-.1 1.2 0 35.9 32.9 65.1 73.4 65.1h244.6c40.5 0 73.4-29.2 73.4-65.1 0-.4 0-.8-.1-1.2zM244.5 27c37.9 0 68.8 30.4 69.6 68.1H174.9c.8-37.7 31.7-68.1 69.6-68.1zm122.3 435H122.2c-25.4 0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0 7.5 6 13.5 13.5 13.5s13.5-6 13.5-13.5v-41h139.3v41c0 7.5 6 13.5 13.5 13.5s13.5-6 13.5-13.5v-41h45.2l26.9 302.3c-.4 20.7-21.1 37.5-46.4 37.5z" />
                                </svg>
                                <span class="hidden lg:block mt-1 text-xs font-semibold">My Cart</span>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </section>
    <!-- Search Component -->
    <%if(searchBox){%>
        <div
            class="md:absolute md:top-[35%] lg:top[28%] md:left-[25%] flex justify-start h-8 lg:h-10 w-full md:w-1/2 lg:w-2/4 rounded-full border border-transparent bg-gray-100 pl-6 md:mr-1 lg:mx-auto focus-within:border-[#00b070] focus-within:bg-transparent">

            <div class="relative flex w-full">
                <div class="flex w-full">
                    <input type="email" placeholder="Search..." id="homeSearch"
                        class="w-full bg-transparent text-[15px] font-semibold text-gray-600 outline-none" />
                </div>
                <div id="resultsContainer"
                    class="hidden left-30 bg-white border border-slate-400 absolute top-10 z-20 flex w-full flex-col rounded-lg text-left">
                </div>
            </div>
            <button id="search_btn" type="button"
                class="bg-pink-500 hover:bg-pink-600 w-12 flex justify-center items-center rounded-r-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px"
                    class="rotate-90 fill-white">
                    <path
                        d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
                    </path>
                </svg>
            </button>
        </div>
        <%}%>
</header>