<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="relative">

        <!-- Header -->
        <%- include('../partials/userHeader') %>

            <div class="absolute top-[100px] w-full h-screen">

                <div class="px-8 pt-8 mb-4">
                    <!-- BreadCrumbs -->
                </div>

                <main>

                    <div class="mx-8 p-4 max-md:max-w-xl">
</body>

</html>